/* Impoortacion de la fuente montserrat y de la los iconos de bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Creacion de variables de entorno de colores entregados para el proyecto */

:root {
    --verde-bosque: #1A5126;
    --verde-claro: #8FBF5F;
    --azul-claro: #5CB3FF;
    --beige: #F3E9DC;
    --marron-tierra: #B18F6A;
    --blanco: #FFFFFF;
}

/* Restablecer los valores predeterminados del css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    ;
}

.header {
    background-color: var(--verde-bosque);
    color: var(--blanco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
}

ul {
    display: flex;
    gap: 20px;
}

.nav a {
    color: var(--blanco);
    text-decoration: none;
}

#back {
    background-image: url(../../public/img/imagen1.webp);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.front {
    padding: 40% 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--blanco);

}

p {
    display: flex;
    align-items: center;
    flex-direction: column;
}


main {
    background-color: var(--beige);
}
.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 40%;
}


#parques {
    display: flex;
    flex-direction: row;
    padding: 30px 20px;
    justify-content: space-around;
    gap: 50px;
}
#jardines{
    display: flex;
    flex-direction: row;
    padding: 30px 20px;
    justify-content: space-around;
    gap: 50px;
}
image{
    margin: 10px;
}
.img-top{
    width: 900px;
    height: 430px;
}
.img{
    width: 445px;
}
.two-img{
   gap: 10px;
    display: flex;
}

h3 {
    color: var(--verde-bosque);
}

h4 {
    color: var(--verde-bosque);

}

.textnorma {
    color: var(--verde-bosque);
    font-size: x-large;
    display: flex;
    flex-direction: column;
    text-align: center;
padding: 30px 180px;
}

.wra {
    gap: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.contenedor {
    background-color: var(--verde-claro);
    color:var(--blanco) ;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 400px;
    max-height: 200px;
    border-radius: 60px;
    padding: 10px 5px;
}


/* text-align: center; */


#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--blanco);
    background-color: var(--verde-bosque);
    padding: 5px 50px;

}

.redes a {
    color: var(--blanco);
}

#alcaldia {
    width: 80px;
}